#min {
         color: rgb(190, 243, 66);
         font-size:60px;
         position: relative;
         font-family: fantasy;
}
#sec {
         color: rgb(190, 243, 66);
         font-size:60px;
         position: relative;
         font-family: fantasy;
}
body{
    font-family: Arial, 'メイリオ', sans-serif;
            text-align: center;
            background-color: rgb(218, 202, 61);
}
#none{
    display: none;
}
p1{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-size: 45px;
    color: azure;
}
p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 30px;
    color: rgb(80, 151, 127);
}
#text-button {
  display: block;
  cursor: pointer;
  width: 28px;
  text-align: center;
  border: 5px solid #50ac4d;
  padding: 10px;
  position: relative;
  top: 140px;
  left: 150px;
}